.container {
    margin: 2rem;
}

.containerBorder {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header_fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #0573f0;
    border-bottom: 1px solid grey;
}

.logo img {
    width: 125px;
    height: auto;
}

.menu li {
    list-style: none;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: black;
}

.search form {
    display: flex;
}

.search form input {
    margin-right: 1rem;
}

.main_menu {
    background-color: #0573f0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.menu li {
    padding: .5rem;
    text-align: center;
}

.menu li a {
    text-align: center;
    color: #fff;
}

.number {
    position: relative;
}

.num {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 11px;
    color: #0573f0;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 2px;
    background-color: #fff;
}

.menuBackcolor {
    background-color: #0573f0 !important;
}

.slick_nav {
    display: none;
    height: 50px;
    background-color: #444444;
    width: 100%;
}

.menu-responsive {
    position: relative;
}

.menu_links {
    display: none;
    text-align: left;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444444;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 170px;
}


.active {
    width: 100%;
    display: block;
    text-align: left;
    transition: 0.8s ease-out 0.3s;
}

.active li {
    padding: 5px 10px;
    margin: 2px 5px;
    font-size: 10px;
    list-style: none;


}

.bars {
    /* display: none; */
    display: block;
    color: #fff;
    font-size: 24px;
    text-align: left;
    padding: 11px;
    margin-top: 5px;
    height: 100%;
}

.tv_background {
    position: relative;
    margin-bottom: 180px;
}

.tv_background img {
    object-fit: cover;
    width: 100%;
}

.entertainment_system {
    position: absolute;
    background-color: #fff;
    top: 100px;
    left: 810px;
    height: 410px;
    text-align: left;
    padding: 30px;
    width: 430px;
}

.entertainment_system img {
    width: 95px;
    margin-bottom: 1rem;
}

.entertainment_system h2 {
    font-size: 40px;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4em;
    color: #27323f;
}

.services {
    background-color: #fff;
    height: 115px;
    position: absolute;
    top: 90%;
    width: 87%;
    left: 80px;
    border: 1px solid grey;
    border-style: solid;
    border-width: 1px;
    margin-top: -35px;
    margin-bottom: 64px;
    padding: 30px;
}

.services_ul {
    display: flex;
    justify-content: space-between;
}


.services_ul li {
    list-style: none;
}

.services_ul li .service_items {
    display: flex;
    /* align-items: center; */
}

.textofService {
    margin-left: 5px;
}

.textofService h5 {
    font-size: 15px;
}

.textofService p {
    color: #9ca7ab;
    font-size: 12px;

}

.service i {
    color: #0573f0;
    font-size: 20px;
    margin-right: 5px;
}

/* productsBox */
.productsBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.productsBox img {
    width: 250px;
    height: 250px;
}

.product {
    margin-bottom: 45px;
    position: relative;
}

.product h2 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    bottom: 1.8em;
    font-size: .9em;
    text-align: center;
    position: absolute;
    left: 60px;
    top: 200px;
}

.product p {
    color: #27323f;
    background: 0 0;
    opacity: .5;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
}

.gadget {
    left: 90px !important;
}

.containerSaleAndCase {
    /* padding: 9px; */
    margin: 2rem;
}

.saleAndCase {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.saleAndCase img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

/* today's deal */
.productDeal h2 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    bottom: 1.8em;
    font-size: .9em;
    text-align: center;
}

.card {
    position: relative;
}

.card .fa-solid {
    position: absolute;
    left: 199px;
    top: 20px;
    color: rgb(82, 80, 80);
    border: 1px solid grey;
    border-radius: 50%;
    padding: 6px;
    background-color: #dbe2e2;
    display: none;
}


.cards {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    gap: 2vw;
}

.cards a {
    text-decoration: none;
}

.cards p {
    color: #000;
    margin-bottom: 0.5em;
    padding: 0;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4em;
}

.cards .card {
    border: 0;
}

.price del {
    outline: #0573f0;
}

.price del {
    color: #48515b;
    opacity: .5;
    font-weight: 700;
}

.price span {
    color: #48515b;
    font-weight: 700;
}

/*  */

.card .card-img-top,
.card .img {
    transition: opacity 0.5s ease;
}

.img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .card-img-top {
    opacity: 0;
}

.card:hover .img {
    opacity: 1;
}

.card {
    position: relative;
}


.card:hover .fa-solid {
    display: inline-block;
    transition: 1s;
}

.sale {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    color: var(--ast-global-color-3);
    background-color: #FFFFFF;
    width: fit-content;
    border-radius: 20px;
    padding: 0.4em 0.8em;
    font-size: .87em;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    color: #54595F;
}


/* icons */
.fa-star {
    color: orange;
}